@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Parisienne&family=Raleway:wght@200&display=swap');

/*---------------------------------- Header */

header {
    background-color: #fafafa;
    height: 85px;
}

.title-link {
    text-decoration: none;
}

.title-link:hover {
    text-decoration: none;
}

#name-title {
    font-family: "Parisienne", cursive;
    color: #2f2822;
    padding-top: 15px;
    padding-left: 35px;
    position: relative;
    display: inline-block;
}

.name-line {
    position: absolute;
    border-top: rgba(36, 109, 17, 0.57) 1px solid;
    width: 90%;
    top: 60%;
    left: 13%;
}

#music-title {
    font-family: "Raleway", sans-serif;
    color: rgba(36, 109, 17, 0.57);
    font-size: 30px;
    padding-left: 55px;
    bottom: 20px;
    position: relative;
}

li a:hover {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(36, 109, 17, 0.57);
}

.navbar-light .navbar-nav .nav-link {
    color: #2f2822;
}

/*---------------------------------- Images */

.main-image {
    height: 80vh;
    width: 100vw;
    background: url("../imgs/background/jess.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
}

.about-image {
    background: url("../imgs/background/jhb.jpeg") no-repeat center center fixed;
    height: 80vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
}

/*---------------------------------- Sections */

.subtitle {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 25px;
    letter-spacing: 5px;
}

.green-sub {
    color: rgba(36, 109, 17, 0.57);
}

body {
    font-family: "Inter", sans-serif;
    color: #2f2822;
    z-index: 100;
}


.about-heading {
    padding-top: 90px;
}

.about-paragraph {
    margin: 0;
    padding: 0 40px 30px 40px;
    text-align: center;
}


.packages-heading {
    padding-top: 90px;
}

.wedding-package {
    text-align: center;
}

.list-inline {
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.get-in-touch {
    text-align: center;
}

a i {
    color:rgba(36, 109, 17, 0.57);
    font-size: 20px;
}

a i:hover {
    color: rgba(86, 87, 82, 0.49);
}


/*---------------------------------- Spacing */

.row {
    margin-left: 0;
}

.col-4 {
    margin-right: 0;
}

.col-12 {
    padding-left: 0;
}

hr {
    display: block;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(36, 109, 17, 0.57);
 }