@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Parisienne&family=Raleway:wght@200&display=swap');

.subtitle {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-align: center;
}