@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Parisienne&family=Raleway:wght@200&display=swap');

/* I have used display : row throughout to space elements evenly as rows and columns. This idea was thanks to
a tutor from Code Institute, as well as finding out Stackoverflow forums.*/

/* Fix vertical space appearing to the right when viewing on Dev tools (Chrome).
Credit to Stackoverflow forums */
html,body
    {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    color: #2f2822;
    line-height: 30px;
}

/* ------------------------- styles all subtitles throughout the page, h2 and h5--*/
.subtitle {
    padding-bottom: 50px;
    padding-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

/* ------------------------- styles all h2 subtitles throughout the page--*/
.green-sub {
    color: rgba(36, 109, 17, 0.57);
}

.spacer {
    height: 150px;
}

/*---------------------------------- Background Images */

.main-image {
    height: 100vh;
    width: 100vw;
    background: url("../imgs/background/jess-singing.jpg") no-repeat center center;
    background-size: cover;
}

.about-image {
    clear: both;
    background: url("../imgs/background/jhb.jpeg") no-repeat center center;
    height: 80vh;
    width: 100vw;
    background-size: cover;
}

/*---------------------------------- Header */

header {
    background-color: #fafafa;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
}

.title-link {
    text-decoration: none;
    float: left;
}

.title-link:hover {
    text-decoration: none;
}

#name-title {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: "Parisienne", cursive;
    font-weight: 200;
    font-size: 40px;
    color: #2f2822;
    padding-left: 60px;
    position: relative;
    display: inline-block;
}

.name-line {
    position: absolute;
    border-top: rgba(36, 109, 17, 0.57) 1px solid;
    width: 85%;
    top: 50%;
    left: 20%;
}

/*---------------------- this allows the 'Music' title to sit under the 'Jess Hynes'
 title giving it a logo effect --*/
#music-title {
    font-family: "Raleway", sans-serif;
    color: rgba(36, 109, 17, 1);
    font-size: 25px;
    font-weight: 200;
    padding-left: 85px;
    bottom: 80px;
    position: relative;
}

/*----------------------- nav bar --*/

/* Credit goes to Code Institute, Love Running Project, for
the nav bar sitting on the right side of header (some custom CSS added) */
.nav-menu {
    float: right;
    margin: 0 auto;
    padding: 20px;
    margin-right: 30px;
}

.nav-menu li {
    list-style: none;
    display: inline;
    float: left;
    margin-right: 5px;
}

.nav-menu a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    color: inherit;
}

.nav-menu a:hover {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(36, 109, 17, 0.57);
}

.nav-menu li:hover {
    font-weight: 600;
}

.title-link,
.nav-menu {
    line-height: 85px;
}

/*---------------------------------- About Section */

#about,
#packages,
#music,
#contact {
    padding-top: 50px;
}

#about-heading {
    padding-bottom: 20px;
}

#about-p {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    margin-bottom: 40px;
}

.about-left {
    text-align: center;
    margin: 0 20px;
    padding: 10px 20px;
}

.about-left p {
    padding: 20px;
    background-color: rgba(36, 109, 17, 0.05);
    border-radius: 2px;
}

.about-right {
    text-align: center;
    margin: 0 20px;
    padding: 10px 20px;
}

.about-right p {
    padding: 20px;
    background-color: rgba(36, 109, 17, 0.05);
    border-radius: 2px;
}

/*---------------------------------- Packages Section */

#package-p {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    margin-bottom: 40px;
}

.package-one-two {
    text-align: center;
    width: 40%;
    height: 680px;
}

.package-three-four {
    text-align: center;
    width: 40%;
    height: 680px;
}

.package-one-two,
.package-three-four {
    padding: 20px;
    background-color: rgba(36, 109, 17, 0.05);
    border-radius: 2px;
}

/*----------------------------Events Section */

#events-sub {
    clear: both;
}

#event-services {
    padding-bottom: 20px;
}

.events-list li {
    display: inline;
}

.events-list {
    text-align: center;
}

#events-paragraph ul {
    padding-inline-start: 0;
}

.get-in-touch {
    text-align: center;
    padding-bottom: 20px;
}

.contact-icon {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

a i {
    color:rgba(36, 109, 17, 0.57);
    font-size: 25px;
}

a i:hover {
    color: rgba(86, 87, 82, 0.49);
}

/*---------------------------------- Music section */

#music {
    height: auto;
    width: 100%;
}

#music-sub {
    padding-top: 30px;
}

.video-row {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
}

.video {
    position: relative;
    padding-top: 25%;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 7px;
    margin: 5px 0;
    width: 100%;
    height: 100%;
}

/*---------------------------------- Form */

.contact-form {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    color: #2f2122;
    background-color: rgba(135, 164, 101, 0.5);
    text-align: left;
    padding: 30px;
}

input[type=text],
input[type=email],
textarea {
    background-color: #fafafa;;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 20px;
    border: #2f2822 1px solid;
    border-radius: 3px;
    font-family: "Raleway", sans-serif;
    font-size: inherit;
}

input[type=text],
input[type=email] {
    width: 90%;
}

textarea {
    height: 100px;
    padding: 10px;
    width: 95%;
}

.submit-button {
    font-family: inherit;
    background-color: #fafafa;
    border: #2f2822 solid thin;
    border-radius: 2px;
    padding: 7px;
}

.submit-button:hover {
    background-color: rgba(188, 206, 167, 1);
}

/*---------------------------------- Footer */

footer {
    height: 85px;
    width: 100vw;
    background-color: #fafafa;
    opacity: 60%;
    position: fixed;
    bottom: 0;
    width: 100%
}

.footer-row {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
}

.social-links i {
    margin: 0 auto;
    padding-top: 30px;
    font-size: 2rem;
    color: rgba(86, 87, 82, 1);
}

.social-links a {
    text-decoration: none;
}

.social-links a:hover {
    border: none;
    text-decoration: none;
    color: #2f2822;
}


/*---------------------------------- Media Queries */

/*----------------------------- Desktop (small) */

/*------- Re-aligns 'About' and 'Packages paragraphs, as well as re-aligning iframes from row into column-- */
@media screen and (max-width : 1200px) {

/*------------------------- Header */

    header {
        height: 100px;
    }

    #about,
    #packages,
    #music,
    #contact {
        padding-top: 40px;
    }

    .subtitle {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
/*------------------------- About section */

    #about-heading {
        margin-bottom: 0;
    }

    #about {
        width: 90%;
        height: 500px;
        margin: 0 auto;
        padding: 0;
    }

    .about-left {
        width: 100%;
        padding: 0;
        margin: 20px;
        height: 400px;
    }

    .about-left p {
        height: 270px;
    }

    .about-right {
        width: 100%;
        padding: 0;
        margin: 20px;
    }

/*------------------------- Packages section */

    #packages {
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }

    .subtitle {
        padding-bottom: 20px;
    }

    .package-spacer {
        display: none;
    }

    .package-one-two,
    .package-three-four {
        height: 750px;
    }

    #events-sub {
        height: 80px;
    }

    #events-paragraph {
        margin: 0 auto;
    }

    .contact-icon i {
        font-size: 40px;
    }

/*------------------------- Videos section */

    #music {
        height: auto;
    }

    .video-row {
        display: inline-block;
    }

    .video {
        position: static;
        margin: 0 0 0 120px;
        padding: 10px;
        height: 500px;
        width: 700px;
        text-align: center;
    }

    .video iframe {
        position: static;
    }

/*------------------------- Contact section */

    #contact {
        bottom: 200px;
    }   
}


/*----------------------------- Tablet */

/* -- Re-aligns paragraphs in 'About' and 'Packages' section from rows into columns. 
Header height and font sizes, and footer icons become smaller. Iframes become full width --*/
@media screen and (max-width : 768px) {

/*-------------------------  Header */

    header {
        height: 100px;
    }

    #name-title {
        font-size: 35px;
        padding-left: 30px;
        top: 5px;
    }
    
    #music-title {
        font-size: 20px;
        padding-left: 55px;
        bottom: 70px;
    }

    .nav-menu {
        margin-right: 0;
    }

/*------------------------- About section */

    #about,
    #packages,
    #music,
    #contact {
        padding-top: 30px;
    }

    #about {
        height: 600px;
        margin: 0 auto;
        padding: 0;
    }

    #about-heading {
        margin-bottom: 0;
    }

    #about-p {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    .about-left {
        height: 200px;
    }

    .about-left p {
        height: 160px;
        margin: 0;
    }

    .about-right {
        height: 200px;
    }

    .about-right p {
        margin: 0;
    }

/*------------------------- Packages section */

    #packages {
        width: 100%;
        height: 1400px;
        margin: 0 auto;
    }

    .subtitle {
        padding-bottom: 20px;
    }

    #package-p {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
    }

    .package-spacer {
        display: none;
    }

    .package-one-two,
    .package-three-four {
        margin: 0;
        width: 90%;
    }

    .package-one-two {
        height: 550px;
    }

    .package-three-four {
        height: 630px;
    }

    #events-paragraph {
        width: 70%;
    }

    #hide {
        display: none;
    }

    /*------------------------- Videos section */

    #music {
        height: auto;
        }
    
    .video-row {
        display: inline-block;
    }
    
    .video {
        position: static;
        margin: 0 0 0 20px;
        padding: 10px;
        height: 500px;
        width: 700px;
        text-align: center;
    }
    
    .video iframe {
        position: static;
    }

    .spacer {
        height: 150px;
    }
}


/*----------------------------- Mobile devices */

/*--- Paragraph text is full width of the screen. Most features are smaller including subtitles and spacing--*/
@media (max-width : 576px) {
    
/*-------------------------  Header */

    header {
        height: 80px;
    }

    #name-title {
        font-size: 27px;
        padding-left: 20px;
        top: 15px;
    }
    
    .name-line {
        left: 15%;
    }
    
    #music-title {
        font-size: 20px;
        padding-left: 35px;
        bottom: -5px;
    }

    .nav-menu {
        float: right;
        width: 310px;
        padding-right: 5px;
        padding-top: 40px;
    }

    .title-link, .nav-menu {
        line-height: 18px; 
    }
    
    .nav-menu li {
        font-size: 12px;
    }

    /*------------------------- About section */

    #about,
    #packages,
    #music,
    #contact {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .green-sub {
        margin-bottom: 0;
        font-size: 22px;
    }

    #about {
        width: 100%;
        height: 570px;
        margin: 0 auto;
        padding: 0;
    }

    #about-p {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .about-left,
    .about-right {
        width: 100%;
        margin: 0;
    }

    .about-left {
        height: 220px;
    }

    .about-left p,
    .about-right p {
        padding: 30px;
    }

/*------------------------- Packages section */

    #packages {
        width: 100%;
        height: 1250px;
        margin: 0 auto;
        padding-top: 0;
    }

    #package-p {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 0;
    }

    .subtitle {
        padding-bottom: 20px;
    }

    #packages h5 {
        margin: 10px 0;
    }

    .package-spacer {
        display: none;
    }

    .package-one-two {
        width: 95%;
        height: 600px;
        padding: 0 30px;
    }

    .package-three-four {
        width: 95%;
        height: 600px;
        padding: 0 30px;
    }

    #event-services {
        margin-top: 10px;
    }

    #events-list {
        margin-bottom: 0;
    }

    .get-in-touch {
        margin-top: 0;
    }

    #events-paragraph {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    #hide {
        visibility: visible;
    }

    .contact-icon i {
        font-size: 30px;
    }

    /*------------------------- Videos section */

    #music {
        height: auto;
    }

    #music-sub {
        margin-top: 0;
    }
    
    .video {
        display: flex;
        flex-direction: column;
        position: static;
        margin-bottom: 10px;
        padding: 0;
        height: 450px;
        width: 530px;
    }

/*------------------------- Contact section */

    .contact-form {
        margin: 0 auto;
        width: 300px;
    }

    input[type=text],
    input[type=email],
    textarea {
        height: 15px;
        width: 85%;
    }

    textarea {
        height: 100px;
    }

    .spacer {
        height: 100px;
    }

/*------------------------- Footer */

    .social-links i {
        margin: 0 auto;
        font-size: 1.5rem;
    }

}

/*------------------------- Mobile devices (medium) --*/

/*-- Re-aligns paragraph texts and all features to fit screen size. Contact form is wider for better UX--*/
@media screen and (max-width : 385px) {

    .nav-menu {
        width: 250px;
        padding: 0;
        padding-top: 0;
    }

    .nav-menu,
    .title-link {
        line-height: 13px;
    }

    .nav-menu li {
        font-size: 10px;
        padding: 0;
        margin: 0;
    }

/* --------------------- About section*/

    #about {
        width: 100%;
        height: 780px;
        margin: 0;
        padding: 0;
    }

    #about-heading {
        margin: 20px 0 10px 0;
    }

    #about-p {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .about-left {
        width: 100%;
        height: 340px;
    }

    .about-left p {
        height: 280px;
    }

    .about-right {
        width: 100%;
        height: 380px;
    }

    .about-right p {
        height: 300px;
    }

/* --------------------- Packages section*/

    .events-sub {
        margin: 20px 0;
    }

    #packages {
        width: 100%;
        height: 1500px;
    }

    #package-p {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #packages h5 {
        margin: 0;
        padding: 10px 0;
    }

    #packages p {
        padding: 0 20px;
    }

    .package-spacer {
        display: none;
    }

    .package-one-two {
        width: 100%;
        padding: 0;
        height: 680px;
    }

    .package-three-four {
        width: 100%;
        padding: 0;
        height: 710px;
    }

    #events-sub {
        height: 50px;
    }

    #event-services {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 5px;
    }

    #events ul {
        display: flex;
        flex-direction: column;
    }

    .hide-dash {
        display: none;
    }

/* --------------------- Music Section*/

    .video {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0;
        height: 300px;
        width: 370px;
        margin-left: 0;
    }

/* --------------------- Contact form*/

    #contact {
        height: 600px;
    }

    .contact-form {
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }

    input[type=text],
    input[type=email],
    textarea {
        height: 5px;
        padding: 15px;
        width: 85%;
        margin-bottom: 10px;
        font-size: 13px;
    }

    textarea {
        height: 100px;
    }

    .spacer {
        height: 80px;
    }

}


/*----------------------------- Mobile-sm */

/*-- Re-aligned most features to fit the width of the screen. Header and footer are smaller along with their fonts.
    Spacing is smaller to create a better UX on smaller devices.--*/
@media screen and (max-width : 300px) {

    body {
        font-size: 15px;
        line-height: 22px;
    }

    .green-sub {
        margin-top: 0;
        padding: 10px 0;
        font-size: 18px;
    }

/* --------------------- Header*/

    header {
        height: 70px;
    }

    #name-title {
        font-size: 20px;
        padding-left: 15px;
        top: 12px;
    }

    #music-title {
        font-size: 12px;
        padding-left: 30px;
        bottom: -2px;
    }

    .nav-menu {
        width: 210px;
        padding: 0;
        padding-top: 0;
    }

    .title-link,
    .nav-menu {
        line-height: 15px;
    }

    .nav-menu li {
        font-size: 8px;
        padding: 0;
        margin: 0;
    }

/* --------------------- About section*/

    #about {
        width: 100%;
        height: 650px;
        margin: 0;
        padding: 0;
    }

    #about-heading {
        margin: 20px 0 10px 0;
    }

    #about-p {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .about-left {
        width: 100%;
        height: 280px;
    }

    .about-left p {
        height: 220px;
    }

    .about-right {
        width: 100%;
        height: 350px;
    }

    .about-right p {
        height: 280px;
    }

/* --------------------- Packages section*/

    .events-sub {
        margin: 20px 0;
    }

    #packages {
        width: 100%;
        height: 1150px;
    }

    #package-p {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #packages h5 {
        margin: 0;
        padding: 10px 0;
    }

    #packages p {
        padding: 0 20px;
    }

    .package-spacer {
        display: none;
    }

    .package-one-two {
        width: 100%;
        padding: 0;
        height: 530px;
    }

    .package-three-four {
        width: 100%;
        padding: 0;
        height: 540px;
    }

    #events-sub {
        height: 50px;
    }

    #event-services {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 5px;
    }

    #events ul {
        display: flex;
        flex-direction: column;
    }

    .hide-dash {
        display: none;
    }

/* --------------------- Music Section*/

    .video {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0;
        height: 250px;
        width: 290px;
        margin-left: 0;
    }

/* --------------------- Contact form*/

    .contact-form {
        margin: 0 auto;
        margin-top: 20px;
        width: 200px;
    }

    input[type=text],
    input[type=email],
    textarea {
        height: 5px;
        padding: 15px;
        width: 85%;
        margin-bottom: 10px;
        font-size: 13px;
    }

    textarea {
        height: 100px;
    }

    .spacer {
        height: 80px;
    }

/* --------------------- Footer*/

    footer {
        height: 60px;
    }

    .social-links i {
        font-size: 1.2rem;
    }
}